<%= button_to 'View', lesson_path(@lesson), :class => 'btn btn-warning edit', :method => :get %>
<div class="row">
  <div id="edit-nav" class="col-md-2">
    <%= render 'shared/edit_nav' %>
  </div>
  <div class="col-md-9 col-md-offset-1">
    <h1 class="no-padding">Slides</h1>
    </br>
    <%= render 'form' %>
  </div>
</div>