<h1>Welcome to Tutor, <%= @user.name %></h1>

<p>You have successfully signed up to Tutor!
  Your username is: <%= @user.email %>.</p>
<p>To login to the site, just follow this link: <a href="<%= @url %>">Activate Account</a></p>