<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'tutor3.png', :class => 'img-responsive' %>
    </div>
    <div class="col-md-4 col-md-offset-1 text-center">
      <h1>Oops!</h1>
      <p>An error has occurred. Please mention it to your admin.</p>
    </div>
  </div>
</div>